body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    margin: 0;
    color: black;
}

header {
    background-color: #007bb5;
    color: #fff;
    padding: 20px 0 10px 0;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}
header h1 {
    margin: 0 0 10px 0;
    font-size: 2em;
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0 0 5px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li{
    display: inline;
}

nav ul a{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: text-decoration 0.2, color: 0.2s;
}

nav ul a:hover{
    color:aqua;
}
main {
    max-width: 700px;
    margin: 40px auto 0 auto;
    padding: 0 15px;
}


section{
    background: #ffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0,0, 0, 0.1);
    border-radius: 8px;
}

section h2{
    margin-top: 0;
    color: #007665;
    font-size: 1.5em;
    margin-bottom: 18px;
     text-align: center;
}

.bienestar > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/* Estilo para clases de Institucional */

.calidad {
  background: #f5f5f5;
  padding: 1rem 1.5rem;
  border-left: 5px solid #007bb5;
  border-radius: 6px;
  margin-top: 1rem;
}

.calidad ul {
  list-style: none;
  padding: 0;
}

.calidad li::before {
  content: "✔ ";
  color: green;
  font-weight: bold;
}

/* Estilo uniforme para todas las imágenes */
.bienestar img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
}

/* Estilo para imagenes Institucional*/
.img-institucional {
    width: 100%;          /* ocupa todo el ancho del contenedor */
    max-width: 626px;     /* opcional, para no superar cierto ancho */
    height: 416px;        /* altura uniforme */
    object-fit: cover;    /* recorta la imagen para que llene el área sin deformarla */
    border-radius: 6px;   /* opcional, esquinas redondeadas */
    display: block;
    margin: 1rem auto;    /* centrado */
}

footer{
    background: #007bb5;
    padding: 18px 0;
    text-align: center;
    color: floralwhite;
    margin-top: 40px;
    font-size: 0.95;
    border-top: 1px solid #007665;
}







