body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    margin: 0;
    color: black;
}

header{
    background-color: #007bb5;
    color: #fff;
    padding: 20 px 0 10 px 0;
    text-align: center;
    box-shadow: 0 2 px 6px rgba(0,0, 0, 0.6);
}

header h1{
margin: 0 0 10px 0;
font-size: 2em;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0 0 5px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li{
    display: inline;
}

nav ul a{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: text-decoration 0.2, color: 0.2s;
}

nav ul a:hover{
    color:aqua;
}

main{
    max-width: 700 px;
    margin: 40px auto 0 auto;
    padding: 0 15px;
}

section{
    background: #ffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0,0, 0, 0.1);
    border-radius: 8px;
}

section h2{
    margin-top: 0;
    color: #007665;
    font-size: 1.5em;
    margin-bottom: 18px;
}

.bienestar{
    display: grid;
    grid_template-colums: repeat (3,1fr);
    gap: 25 px:
   }

.catalogo{

}

footer{
    background: #007bb5;
    padding: 18px 0;
    text-align: center;
    color: floralwhite;
    margin-top: 40px;
    font-size: 0.95;
    border-top: 1px solid #007665;
}







